nav {
    font-size: 40px;
}

.top-menu li {
    color: #404040;
    display: inline-block;
    padding-right: 25px;
    padding-left: 25px;
    font-weight: bold;
    border: 1px solid #bbb;
    border-radius: 100px 0;
}